.App {
    margin:200px;
    padding :150 px;
    border-radius: 19px 19px 19px 19px;
    webkit-border-radius: 19px 19px 19px 19px;
    moz-border-radius: 19px 19px 19px 19px;
    border: 4px solid #eeecec;
    }

    
        
    
    





