.container{
margin:100px;
padding :100 px;
border-radius: 33px 33px 33px 33px;
webkit-border-radius: 33px 33px 33px 33px;
moz-border-radius: 33px 33px 33px 33px;
border: 2px solid rgba(248,246,246,0.88);
}

.container__bottom{
    background-color: #a149fa;
    text-align: center;
    color:white;
    font-size: 16px;
    display:block;
    font-family:'sans-serif';
    font-weight:500;
    position:relative;
    padding:8px 150px;margin:10px 2px;
    border-radius: 33px 33px 33px 33px;
    

   
 
   
}